@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(103, 182, 250, 0.2);
    color: rgb(0, 68, 141);
    line-height: 1.4;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2 {
    font-weight: 400;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}


/* Logo & Heading */

.container {
    max-width: 1900px;
    margin: 0 auto;
    overflow: auto;
}

.flex {
    display: flex;
    justify-content: center;
    height: 100%;
}

.navigation {
    background-color: rgb(99, 1, 50);
    height: 140px;
    font-family: 'Lora', sans-serif;
    width: 100%;
}

.navigation h1 {
    font-size: 48px;
    color: white;
    padding-left: 25px;
}

div #logo {
    display: flex;
    align-items: center;
    padding-left: 25px;
}

#logo img {
    border-radius: 50%;
}

div #heading {
    display: flex;
    align-items: center;
    letter-spacing: 1.5px;
}


/* Navigation */

.navigation ul {
    display: flex;
    padding: 0 10px 10px 0;
}

.navigation ul li {
    padding: 10px;
    margin: 0 5px;
}

.navigation ul li a:hover {
    cursor: pointer;
    color: rgb(103, 182, 250);
    border-bottom: 2px solid;
}

nav.nav-links {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    font-size: 20px;
}

li a {
    color: white;
}

.active {
    color: rgb(103, 182, 250);
    border-bottom: 2px solid;
}


/* Hero Image with Zoom Effect */

.hero {
    height: 650px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.hero-image {
    height: 850px;
    width: 100%;
    background: url('../images/main_pitch.png');

    /* zoom out effect */
    animation-name: zoom-out;
    animation-duration: 5s;
    animation-fill-mode: backwards;
}

@keyframes zoom-out {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}


/* Cover Text */

.cover-text {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    width: 450px;
    height: 320px;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(99, 1, 50, 0.5);
    right: 5%;
    bottom: 10%;
    position: absolute;
}

#cover-heading {
    font-family: 'Lora', sans-serif;
    font-size: 30px;
    font-weight: 600;
    border-bottom: rgba(255, 255, 255, 0.8) double;
    padding-bottom: 10px;
}

.cover-text p {
    text-align: justify;
    font-size: 18px;
    font-weight: 500;
    padding: 0px 10px;
}


/* Welcome */

.welcome {
    font-family: 'Lora', sans-serif;
    width: 100%;
    margin-top: 20px;
}

#welcome-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

#welcome-heading {
    display: flex;
    align-items: center;
    font-size: 42px;
    padding: 0 20px;
}

#district-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 82px;
    border-radius: 35%;
}

.about {
    height: 490px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    overflow: auto;
    padding-top: 10px;
}

.about p {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    padding: 0 20px;
}

.about #memories {
    margin-bottom: auto;
}

.about #memories a:hover {
    color: white;
    background-color: rgb(0, 68, 141);
    border-radius: 5px;
}


/* Google Maps Location */

section.location {
    height: 650px;
}

.map-container {
    max-width: 2560px;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
}


/* Footer & Social Media */

.social {
    background-color: rgb(0, 68, 141);
    height: 140px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

footer div.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

footer a#logo {
    display: flex;
    width: 100px;
    height: 100px;
}

div #footer-anchor {
    display: flex;
    align-items: center;
}

.social h2 {
    font-size: 28px;
    color: white;
    padding-left: 25px;
}

.social ul li {
    padding-left: 75px;
    margin: 0 5px;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

li#youtube {
    padding-right: 10px;
}

li#facebook {
    margin-left: 0%;
    padding-left: 0%;
}

.social div a:hover {
    cursor: pointer;
}