@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 68, 141);
    line-height: 1.4;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2 {
    font-weight: 400;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}


/* Logo & Heading */

.container {
    max-width: 1900px;
    margin: 0 auto;
    overflow: auto;
}

.flex {
    display: flex;
    justify-content: center;
    height: 100%;
}

.navigation {
    background-color: rgb(99, 1, 50);
    height: 140px;
    font-family: 'Lora', sans-serif;
    width: 100%;
}

.navigation h1 {
    font-size: 48px;
    color: white;
    padding-left: 25px;
}

div #logo {
    display: flex;
    align-items: center;
    padding-left: 25px;
}

#logo img {
    border-radius: 50%;
}

div #heading {
    display: flex;
    align-items: center;
    letter-spacing: 2px;
}


/* Navigation */

.navigation ul {
    display: flex;
    padding: 0 10px 10px 0;
}

.navigation ul li {
    padding: 10px;
    margin: 0 5px;
}

.navigation ul li a:hover {
    cursor: pointer;
    color: rgb(103, 182, 250);
    border-bottom: 2px solid;
}

nav.nav-links {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
}

li a {
    color: white;
}

.active {
    color: rgb(103, 182, 250);
    border-bottom: 2px solid;
}


/* Hero Image with Zoom Effect */

.hero {
    height: 650px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.hero-image {
    height: 850px;
    width: 100%;
    background: url('../images/main_pitch.png');

    /* zoom out effect */
    animation-name: zoom-out;
    animation-duration: 5s;
    animation-fill-mode: backwards;
}

@keyframes zoom-out {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}


/* Cover Text */

.cover-text {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    width: 450px;
    height: 320px;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(99, 1, 50, 0.5);
    right: 5%;
    bottom: 5%;
    position: absolute;
}

#cover-heading {
    font-family: 'Lora', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.cover-text p {
    text-align: justify;
    font-size: 18px;
    font-weight: 500;
}
